
.rc-fadein,.rc-fadeinT,.rc-fadeinB,.rc-fadeinL,.rc-fadeinR,.rc-rotatein{-webkit-animation:.5s ease-out backwards;-moz-animation:.5s ease-out backwards;-ms-animation:.5s ease-out backwards;animation:.5s ease-out backwards;}

/* 淡入 */
.rc-fadein{-webkit-animation-name:fadein;-moz-animation-name:fadein;-ms-animation-name:fadein;animation-name:fadein;}

/* 淡入-从上 */
.rc-fadeinT{-webkit-animation-name:fadeinT;-moz-animation-name:fadeinT;-ms-animation-name:fadeinT;animation-name:fadeinT;}

/* 淡入-从下 */
.rc-fadeinB{-webkit-animation-name:fadeinB;-moz-animation-name:fadeinB;-ms-animation-name:fadeinB;animation-name:fadeinB;}

/* 淡入-从左 */
.rc-fadeinL{-webkit-animation-name:fadeinL;-moz-animation-name:fadeinL;-ms-animation-name:fadeinL;animation-name:fadeinL;}

/* 淡入-从右 */
.rc-fadeinR{-webkit-animation-name:fadeinR;-moz-animation-name:fadeinR;-ms-animation-name:fadeinR;animation-name:fadeinR;}

/* 转入 */
.rc-rotatein{-webkit-animation-name:rotatein;-moz-animation-name:rotatein;-ms-animation-name:rotatein;animation-name:rotatein;}

/* 扩散 */
.is-revealed .point-area .point-10:after {content: '';display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;border-radius: 50%;border: 2px solid #C798F7;opacity: 0;-webkit-animation: ripple 4500ms ease-out 225ms infinite;-moz-animation: ripple 4500ms ease-out 225ms infinite;-o-animation: ripple 4500ms ease-out 225ms infinite;animation: ripple 4500ms ease-out 225ms infinite;}
.is-revealed .point-area .point-40:after {content: '';display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;border-radius: 50%;border: 2px solid #C798F7;opacity: 0;-webkit-animation: ripple 4500ms ease-out 900ms infinite;-moz-animation: ripple 4500ms ease-out 900ms infinite;-o-animation: ripple 4500ms ease-out 900ms infinite;animation: ripple 4500ms ease-out 900ms infinite;}
.is-revealed .point-area .point-70:after {content: '';display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;border-radius: 50%;border: 2px solid #C798F7;opacity: 0;-webkit-animation: ripple 4500ms ease-out 1575ms infinite;-moz-animation: ripple 4500ms ease-out 1575ms infinite;-o-animation: ripple 4500ms ease-out 1575ms infinite;animation: ripple 4500ms ease-out 1575ms infinite;}
.is-revealed .point-area .point-80:after {content: '';display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;border-radius: 50%;border: 2px solid #C798F7;opacity: 0;-webkit-animation: ripple 4500ms ease-out 1800ms infinite;-moz-animation: ripple 4500ms ease-out 1800ms infinite;-o-animation: ripple 4500ms ease-out 1800ms infinite;animation: ripple 4500ms ease-out 1800ms infinite;}
.is-revealed .point-area .point-shadow:after {-webkit-box-shadow: inset 0 0 5em rgba(113,0,230, 0.16);-moz-box-shadow: inset 0 0 5em rgba(113,0,230, 0.16);box-shadow: inset 0 0 5em rgba(113,0,230, 0.16);}


/* 淡入 */
@-webkit-keyframes fadein{
  0%{opacity:0;}
  100%{opacity:1;}
}
@-moz-keyframes fadein{
  0%{opacity:0;}
  100%{opacity:1;}
}
@-ms-keyframes fadein{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes fadein{
  0%{opacity:0;}
  100%{opacity:1;}
}

/* 淡入-从上 */
@-webkit-keyframes fadeinT{
  0%{opacity:0;-webkit-transform:translateY(-100px);}
  100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeinT{
  0%{opacity:0;-moz-transform:translateY(-100px);}
  100%{opacity:1;-moz-transform:translateY(0);}
}
@-ms-keyframes fadeinT{
  0%{opacity:0;-ms-transform:translateY(-100px);}
  100%{opacity:1;-ms-transform:translateY(0);}
}
@keyframes fadeinT{
  0%{opacity:0;transform:translateY(-100px);}
  100%{opacity:1;transform:translateY(0);}
}

/* 淡入-从下 */
@-webkit-keyframes fadeinB{
  0%{opacity:0;-webkit-transform:translateY(100px);}
  100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeinB{
  0%{opacity:0;-moz-transform:translateY(100px);}
  100%{opacity:1;-moz-transform:translateY(0);}
}
@-ms-keyframes fadeinB{
  0%{opacity:0;-ms-transform:translateY(100px);}
  100%{opacity:1;-ms-transform:translateY(0);}
}
@keyframes fadeinB{
  0%{opacity:0;transform:translateY(100px);}
  100%{opacity:1;transform:translateY(0);}
}

/* 淡入-从左 */
@-webkit-keyframes fadeinL{
  0%{opacity:0;-webkit-transform:translateX(-100px);}
  100%{opacity:1;-webkit-transform:translateX(0);}
}
@-moz-keyframes fadeinL{
  0%{opacity:0;-moz-transform:translateX(-100px);}
  100%{opacity:1;-moz-transform:translateX(0);}
}
@-ms-keyframes fadeinL{
  0%{opacity:0;-ms-transform:translateX(-100px);}
  100%{opacity:1;-ms-transform:translateX(0);}
}
@keyframes fadeinL{
  0%{opacity:0;transform:translateX(-100px);}
  100%{opacity:1;transform:translateX(0);}
}

/* 淡入-从右 */
@-webkit-keyframes fadeinR{
  0%{opacity:0;-webkit-transform:translateX(100px);}
  100%{opacity:1;-webkit-transform:translateX(0);}
}
@-moz-keyframes fadeinR{
  0%{opacity:0;-moz-transform:translateX(100px);}
  100%{opacity:1;-moz-transform:translateX(0);}
}
@-ms-keyframes fadeinR{
  0%{opacity:0;-ms-transform:translateX(100px);}
  100%{opacity:1;-ms-transform:translateX(0);}
}
@keyframes fadeinR{
  0%{opacity:0;transform:translateX(100px);}
  100%{opacity:1;transform:translateX(0);}
}

/* 转入 */
@-webkit-keyframes rotatein{
  0%{opacity:0;-webkit-transform:rotate(-200deg);}
  100%{opacity:1;-webkit-transform:rotate(0);}
}
@-moz-keyframes rotatein{
  0%{opacity:0;-moz-transform:rotate(-200deg);}
  100%{opacity:1;-moz-transform:rotate(0);}
}
@-ms-keyframes rotatein{
  0%{opacity:0;-ms-transform:rotate(-200deg);}
  100%{opacity:1;-ms-transform:rotate(0);}
}
@keyframes rotatein{
  0%{opacity:0;transform:rotate(-200deg);}
  100%{opacity:1;transform:rotate(0);}
}


/* 扩散 */
@-webkit-keyframes ripple{
  0%{opacity:0;-webkit-transform:scale(0.1,0.1); }
  5%{ opacity:1; }
  100%{ opacity:0; -webkit-transform:scale(1)}
}
@-moz-keyframes ripple{
  0%{opacity:0;-moz-transform:scale(0.1,0.1); }
  5%{ opacity:1; }
  100%{ opacity:0; -moz-transform:scale(1)}
}
@-o-keyframes ripple{
  0%{opacity:0;-o-transform:scale(0.1,0.1); }
  5%{ opacity:1; }
  100%{ opacity:0; -o-transform:scale(1)}
}
@keyframes ripple{
  0%{opacity:0;-webkit-transform:scale(0.1,0.1);-moz-transform:scale(0.1,0.1);-ms-transform:scale(0.1,0.1);transform:scale(0.1,0.1); }
  5%{ opacity:1; }
  100%{ opacity:0;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
}


.delay_1{
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay:0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay:0.1s;
}
.delay_2{
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay:0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay:0.2s;
}
.delay_3{
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay:0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay:0.3s;
}
.delay_4{
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay:0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay:0.4s;
}
.delay_5{
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay:0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay:0.5s;
}

